.cabeza{
    font-family: 'Segoe UI';
    color: #7a7a7a;
    font-weight: 600;
    font-size: 30px;
}

.hojita{
    float: right;
    width: 38px;
    margin-top: 5px;
}

.borde{
    border: 2px solid #f5f5f5;
    border-radius: 3px;
}